{% extends "app/base.html" %} {% load static %} {% block content %}
<section>
  {% for post in posts %}
  <p></p>
  <div class="card">
    <div class="card-header">
      <span class="d-block">
        {{post.created}} <em>By <strong>{{post.autor}}</strong></em>
      </span>
      {% for category in post.categories.all %}
      <a href="{% url 'category' category.id %}"
        ><span class="badge bg-dark mt-0 mb-2"> {{category.name}}</span></a
      >
      {% endfor %}
    </div>
    <div class="card-body">
      <h2 class="card-title">{{post.title}}</h2>
      <p class="card-text">{{post.content|slice:":350"}}...</p>
      <a href="#" class="btn btn-primary">Read more</a>
    </div>
  </div>
  {% endfor %}
</section>
{% endblock%}
