{% extends "app/base.html" %} {% load static %} {% block content %}
<div class="mx-auto mt-5">
  <form action="" method="POST">
    {% csrf_token %}
    <div class="">
      <table class="mx-auto">
        {{contact_form.as_table}}
      </table>
      <div class="text-center">
        <input class="btn btn-lg btn-dark mx-auto" type="submit" />
        {% if 'valid' in request.GET %}
        <p class="d-block mt-3">Form submitted successfully</p>
        {% endif %}
      </div>
    </div>
  </form>
</div>

{% endblock%}
