<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Django Shop</title>
    {% load static %}
    <link
      rel="stylesheet"
      href="{% static 'app/bootstrap/css/bootstrap.css' %}"
    />
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-dark bg-success">
        <div class="container">
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarMenu"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <a href="{% url 'home' %}" class="navbar-brand">DjangoShop</a>

          <div class="collapse navbar-collapse" id="navbarMenu">
            <ul class="navbar-nav mx-auto">
              <li class="nav-item">
                <a
                  class="nav-link {% if request.path == '/' %}active{% endif %}"
                  href="{% url 'home' %}"
                  >Home</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link {% if request.path == '/services/' %}active{% endif %}"
                  href="{% url 'services' %}"
                  >Services</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link {% if request.path == '/shop/' %}active{% endif %}"
                  href="{% url 'shop' %}"
                  >Shop</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link {% if request.path == '/contact/' %}active{% endif %}"
                  href="{% url 'contact' %}"
                  >Contact</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link {% if request.path == '/blog/' %}active{% endif %}"
                  href="{% url 'blog' %}"
                  >Blog</a
                >
              </li>
            </ul>
          </div>
        </div>
      </nav>
      {%block content %} {% endblock %}
      <script src="{% static 'app/bootstrap/js/bootstrap.js' %}"></script>
    </div>
  </body>
</html>
